$lightGrey : #8b8b8d;
$darkGrey : #59595b;
$exnGreen : #7cba00;
$accentTextColor: white;

@font-face {
    font-family: "flamabook";
    src: url("Flama-Book-webfont.woff2");
}

@font-face {
    font-family: "flamabold";
    src: url("Flama-Bold-webfont.woff2");
}