@import "variables";

.full-width{
    width: 100vw;
}

.outer-container-center{
    left: 50%;
    margin-left: -50vw;
    right:50%;
    margin-right: -50vw;
}

.green{
    color:$exnGreen;
}

.banner{
    max-width: 100vw;
    color:$accentTextColor;
    font-family:"flamabook";

    .banner--img{
        position: relative;
    }

    .banner--img__text{
        position:absolute;
        margin-top:-12vh;
        width:50%;
    }

    .title{
        margin-top:-18vh;
        font-family:"flamabold";
    }

    .banner--footer{
        background-color: $exnGreen;        
        padding-top:3rem;
        padding-bottom:3rem;
        margin-top:-3vh;
        position: relative;
    }
    
    .banner--footer__text{
        width: 50%;
        margin:auto;
        text-align: center;
    }

    .author{
        margin-top:0.5rem;
        text-transform: uppercase;
        font-family:"flamabold";
    }
}